
run/saves/New World/region/r.-3.0.mca
run/saves/New World/region/r.-3.1.mca
run/saves/New World/region/r.0.-1.mca
run/saves/New World/region/r.0.0.mca
run/saves/New World/stats/5606c356-f83a-3346-9cfd-7a4fa8e27776.json
run/saves/New World/stats/6421d26c-b813-3e76-bed7-39f6f8e7da7e.json
run/saves/New World/stats/68a3e4ad-dd19-33fa-8035-4934872a4f77.json
run/saves/New World/stats/6aa22a6e-01b2-3515-a387-e8c7e0793117.json
run/saves/New World/stats/6b411cc5-cb23-3aef-b8b1-6cb73d96a2d5.json
run/saves/New World/stats/9d68ef8a-3024-3cdc-bc81-6fbd472f8ed9.json
run/saves/New World/stats/a9c0d951-c0b6-3353-a779-fe4259ce0834.json
run/saves/New World/stats/b2d19156-5364-397f-8e33-abd769d6319d.json
run/saves/New World/stats/b6529468-5313-3ea4-bc60-3e6ea6cabccd.json
run/saves/New World/stats/b67347f2-15bb-373d-8078-0205ca0e55b2.json
run/saves/New World/stats/b7afed14-2796-3101-8914-97746139b82d.json
run/saves/New World/stats/f948ac75-0055-3be3-bc2b-d97345a02022.json
run/saves/testToSurvival/advancements/383d2669-dd1d-3bb6-9599-ddb9736fd75c.json
run/saves/testToSurvival/data/raids.dat
run/saves/testToSurvival/data/random_sequences.dat
run/saves/testToSurvival/DIM-1/data/raids.dat
run/saves/testToSurvival/DIM1/data/raids_end.dat
run/saves/testToSurvival/dimensions/dungeonrpg_fabric/terrafortis/data/raids.dat
run/saves/testToSurvival/entities/r.-1.-1.mca
run/saves/testToSurvival/entities/r.-1.0.mca
run/saves/testToSurvival/entities/r.0.-1.mca
run/saves/testToSurvival/entities/r.0.0.mca
run/saves/testToSurvival/icon.png
run/saves/testToSurvival/level.dat
run/saves/testToSurvival/level.dat_old
run/saves/testToSurvival/playerdata/383d2669-dd1d-3bb6-9599-ddb9736fd75c.dat
run/saves/testToSurvival/playerdata/383d2669-dd1d-3bb6-9599-ddb9736fd75c.dat_old
run/saves/testToSurvival/region/r.-1.-1.mca
run/saves/testToSurvival/region/r.-1.0.mca
run/saves/testToSurvival/region/r.0.-1.mca
run/saves/testToSurvival/region/r.0.0.mca
run/saves/testToSurvival/session.lock
run/saves/testToSurvival/stats/383d2669-dd1d-3bb6-9599-ddb9736fd75c.json
run/usercache.json
